# Byte-compiled / optimized / DLL files
__pycache__/
.venv/

# Model run files
**/runs/
**/weights/
**/predictions/
**/predict/
**/train*.jpg
**/val*.jpg
**/results
**/*.pt
**/*.pth
**/*.pkl
**/*.cpkl
**/*.csv
**/outputs/

# Logs
**/logs/*.log

# Data files
**/data/**
# !**/data/**/
!**/data/.keep
# !**/data/**/*.txt
# !**/data/**/*.yml
# !**/data/**/*.yaml
# !**/data/**/*.json

# Product files
!**/products/*.pt
!**/products/*.pth
!**/products/*.csv

# Ignore files 
**/*ignore*.*
**/*ignore*/