# Byte-compiled / optimized / DLL files
__pycache__/
.venv/



# Model run files
**/runs/
**/weights/
**/predictions/
**/predict/
**/train*.jpg
**/val*.jpg
**/results
**/yolo*.pt
**/outputs/


# Ignore files 
**/*ignore*.*
**/*ignore*/


# Data files
**/data/*
!**/data/.keep

